@keyframes _big_banner {
  0% {
    transform: translateX(0px) scale(1.2);
  }
  5% {
    transform: translateX(5px) scale(1.2);
  }
  10% {
    transform: translateX(10px) scale(1.2);
  }
  15% {
    transform: translateX(15px) scale(1.2);
  }
  20% {
    transform: translateX(20px) scale(1.2);
  }
  25% {
    transform: translateX(25px) scale(1.2);
  }
  30% {
    transform: translateX(30px) scale(1.2);
  }
  35% {
    transform: translateX(35px) scale(1.2);
  }
  40% {
    transform: translateX(40px) scale(1.2);
  }
  45% {
    transform: translateX(45px) scale(1.2);
  }
  50% {
    transform: translateX(50px) scale(1.2);
  }
  55% {
    transform: translateX(55px) scale(1.2);
  }
  60% {
    transform: translateX(50px) scale(1.2);
  }
  65% {
    transform: translateX(45px) scale(1.2);
  }
  70% {
    transform: translateX(40px) scale(1.2);
  }
  75% {
    transform: translateX(35px) scale(1.2);
  }
  80% {
    transform: translateX(30px) scale(1.2);
  }
  85% {
    transform: translateX(25px) scale(1.2);
  }
  90% {
    transform: translateX(20px) scale(1.2);
  }
  95% {
    transform: translateX(15px) scale(1.2);
  }
  100% {
    transform: translateX(10px) scale(1.2);
  }
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
