@font-face {
  font-family: $font-gamma;
  font-style: normal;
  font-weight: normal;
  src:  url('/fonts/NeutraText-Book.otf');
}

@font-face {
  font-family: $font-gamma;
  font-style: normal;
  font-weight: 700;
  src:  url('/fonts/NeutraText-Bold.otf');
}
