footer.footer
  .container
    section.py-5
      .row.gy-4
        .col-lg-3.pe-lg-5
          .d-flex.align-items-end.justify-content-around.d-lg-grid.gap-4.float-lg-end
            img.img-fluid(src="/gfx/svg/logo_footer.svg")
            img.img-fluid.order-first.order-lg-last(src="/gfx/svg/logo_arteco.svg")
        .col-lg-3.ps-lg-5.order-lg-last
          p.fs-5.mb-4 Av.República de Chile 699, Jesús María
          p.mb-4.label-md.fw-bold Financiado por:
          .d-grid
            img.img-fluid(src="/gfx/svg/logo_bcp.svg")
        .col-lg-6
          p.text-lg-center La descripción del proyecto, acabados e imágenes son referenciales y están sujetas a cambios. // La decoración, amueblamiento y equipamiento de las áreas comunes no están incluidos. // En los planos incluir: el área mostrada podría estar sujeta a cambios durante el desarrollo del proyecto. Imágenes referenciales.
    section.pb-5.py-lg-5
      .row.justify-content-center.gy-4
        .col-lg-auto.pe-lg-2 © 2021 | Todos los derechos reservados.
        .col-lg-auto.ps-lg-0 <span class="d-none d-lg-inline-block me-lg-2">|</span>Desarrollado por <a href="#"><b>Malcolm</b></a>
