.modal.fade#modalConfirm(tabindex="-1" aria-labelledby="modalConfirm" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content.bg-white.p-4
      button.btn-close-2(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        .row.py-5.text-center.justify-content-center
          .col-12
            .highlight-text ¿Estás seguro que deseas eliminar tu comprobante?
          .col-8
            .row.justify-content-between.pt-4
              .col-4
                .d-grid
                  a.btn.btn-green(href="#") Sí
              .col-4
                .d-grid
                  a.btn.btn-green(href="#") No