.modal.fade#modalPlanes(tabindex="-1" aria-labelledby="modalPlanes" aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-md-custom.modal-no-background
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        .owl-carousel.carousel-images-modal
          .image
            img(src="/gfx/png/planos.png")
          .image
            img(src="/gfx/png/planos.png")
          .image
            img(src="/gfx/png/planos.png")
          .image
            img(src="/gfx/png/planos.png")