.modal.fade#modalVideo(tabindex="-1" aria-labelledby="modalVideo" aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-lg.modal-no-background
    .modal-content
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        .ratio.ratio-16x9
          <div id="player"></div>