//- link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/owl.carousel.min.css")
link(rel="stylesheet", href="/css/jquery-ui.min.css")
link(rel="stylesheet" href="/css/video-js.css")
<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<!-- <script src="/js/videojs-ie8.min.js"></script> -->
link(rel="stylesheet", href="/css/style.min.css", media="print", onload="this.media=\"all\"")