script(src="https://www.youtube.com/iframe_api")
script(src="/js/jquery-3.6.0.min.js")
script(src="/js/jquery-ui.min.js")
script(src="/js/owl.carousel.min.js")
script(src="/js/bootstrap.bundle.min.js")
script(src="/js/autoComplete.min.js")
script(src="/js/video.min.js")
script(src="/js/jquery.zoom.js")
script(src="/js/index.min.js")
script(src="//instant.page/3.0.0", type="module", defer="true", integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1")