.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  &.nav-down {
    top: -10rem;
  }

  &.nav-up {
    top: 0;
    filter: drop-shadow(0 8px 5px rgba(0, 0, 0, .15));
  }
}

@media (max-width: 991.98px) {
  .header {
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  }
}

.logo {
  display: table;
  max-width: 100%;

  img,
  span {
    display: table-cell;
    vertical-align: middle;
  }

  span {
    font-size: 25px;
    font-family: $font-beta;
    color: #c5c5c5;
    padding-left: 1rem;
    padding-top: 0.3rem;
    white-space: nowrap;
  }
}

@media (max-width: 991.98px) {
  .logo {
    span {
      font-size: 1rem;
      padding-top: 0.15rem;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0;

  .menu-item {
    display: inline-block;
    position: relative;

    &:first-of-type {
      margin-inline-start: 0;
    }

    a {
      color: inherit;
      padding: 0.75rem;
      vertical-align: middle;

      &::before {
        content: "";
        position: absolute;
        width: 4vw;
        height: 2vh;
        vertical-align: middle;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='67' height='21' viewBox='0 0 67 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M10.628 10.561L18.5835 18.4971L26.166 10.9273L64.2032 10.9273L64.2032 11.904L67 11.904L67 9.09591L64.2032 9.09591L64.2032 10.0727L26.2904 10.0727L18.7078 2.50289L10.628 10.561ZM24.923 10.9273L18.5835 17.2761L11.8711 10.561L18.7078 3.72382L25.0473 10.0727L19.4536 10.0727L19.4536 10.9884L24.923 10.9884L24.923 10.9273Z' fill='%23CDAE8D'/%3E%3Cpath d='M10.5037 9.23697e-07L21.0696 10.561L10.628 21L6.70612e-06 10.439L10.5037 9.23697e-07ZM18.77 10.561L10.5037 2.31977L2.36179 10.439L10.628 18.6802L18.77 10.561Z' fill='%23CDAE8D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='67' height='21' fill='white' transform='translate(67 21) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        bottom: 0;
        left: -1.5rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        width: 4vw;
        height: 2vh;
        vertical-align: middle;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='67' height='21' viewBox='0 0 67 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56.372 10.4389L48.4165 2.50287L40.834 10.0726H2.79685V9.09589H0V11.904H2.79685V10.9273H40.7096L48.2922 18.4971L56.372 10.4389ZM42.077 10.0726L48.4165 3.7238L55.1289 10.4389L48.2922 17.2761L41.9527 10.9273H47.5464V10.0116H42.077V10.0726Z' fill='%23CDAE8D'/%3E%3Cpath d='M56.4963 21L45.9304 10.439L56.372 0L67 10.561L56.4963 21ZM48.23 10.439L56.4963 18.6802L64.6382 10.561L56.372 2.31977L48.23 10.439Z' fill='%23CDAE8D'/%3E%3C/svg%3E");
        bottom: 0;
        right: -1.5rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        &::before,
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }

      &:hover {
        color: #013732;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .menu {
    padding: 0;
    white-space: nowrap;
    padding: 0;

    .container {
      padding: 0;
    }

    .menu-item {
      padding: 0.5rem;
      margin-inline-end: 0;

      img {
        max-height: 40px;
      }
    }
  }
}
