.big-banner-item {
  position: relative;
  overflow: hidden;
  color: #fff;

  .big-banner-item-bg {
    width: 100%;
    // height: 100%;
    // background-size: contain !important;
    // background-position-x: right !important;
    // background-position-y: bottom !important;
    // position: absolute;
    // z-index: -2;
    // animation: _big_banner 20s infinite linear;
  }

  .big-banner-item-body {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    // min-height: 70vh;

    .big-banner-item-title {
      padding-inline: 5vw;
      padding-block: 20vh;
      text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
      font-family: $font-gamma;

      h2 {
        font-size: 3.75rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      h4 {
        font-size: 2rem;
        text-transform: uppercase;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .big-banner-item-img {
      position: relative;
      display: flex;
      z-index: 9;
      padding: 1.5rem;
      height: 70vh;
      text-align: center;

      img {
        margin: auto;
        width: auto;
        max-height: 100%;
      }
    }
  }

  .big-banner-item-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4rem;
    background: rgba($color: #fff, $alpha: 0.01);
    backdrop-filter: blur(10px);
    text-align: center;
  }
}

.big-banner-item-2 {
  position: relative;
  color: #fff;

  .big-banner-item-body {
    .big-banner-item-title {
      padding-inline: 5vw;
      padding-block: 20vh;
      text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
      font-family: $font-beta;

      h2 {
        font-size: 3.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      h4 {
        font-size: 1.75rem;
        text-transform: uppercase;
      }

      p {
        font-size: 1rem;
      }
    }

    .big-banner-item-img {
      position: relative;
      display: flex;
      z-index: 9;
      padding: 1.5rem;
      height: 70vh;
      text-align: center;

      img {
        margin: auto;
        width: auto;
        max-height: 100%;
      }
    }
  }

  .big-banner-item-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4rem;
    background: rgba($color: #fff, $alpha: 0.01);
    backdrop-filter: blur(10px);
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .big-banner-item {
    .big-banner-item-body {
      min-height: unset;

      &.theme-1 {
        .big-banner-item-title {
          padding: 10rem 2rem 5rem 2rem;
        }
      }

      .big-banner-item-title {
        padding: 2rem;
        text-transform: uppercase;
        background-size: 100% 100%;
        text-align: center;

        h2 {
          font-size: 2.5rem;
        }

        h4 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }

      .big-banner-item-img {
        z-index: 1;
        padding: 1rem;
        height: 25vh;

        img {
          width: auto;
          height: auto;
        }
      }
    }

    .big-banner-item-caption {
      padding: 1.5rem;
      text-align: left;
    }
  }
}

.image {
  position: relative;
  padding: 0;
  overflow: hidden;

  .image-btn {
    position: absolute;
    display: block;
    top: 2.5rem;
    right: 2.5rem;

    &::after {
      content: "";
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9996 3.94916L25.2413 3.94938C25.6857 3.9494 26.046 4.30921 26.046 4.75305L26.0457 11.9858C26.0457 12.4297 25.6855 12.7895 25.2411 12.7895C24.7967 12.7894 24.4364 12.4296 24.4365 11.9858L24.4366 6.69317L18.2511 12.8707L17.1132 11.7341L23.2987 5.55661L17.9995 5.55645C17.5552 5.55644 17.1949 5.19662 17.1949 4.75278C17.1949 4.30894 17.5552 3.94915 17.9996 3.94916Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0004 26.0136L4.75866 26.0134C4.31427 26.0134 3.95403 25.6536 3.95404 25.2097L3.95426 17.9769C3.95427 17.5331 4.31453 17.1733 4.75892 17.1733C5.20331 17.1733 5.56355 17.5331 5.56354 17.977L5.56338 23.2696L11.7489 17.0921L12.8868 18.2286L6.70127 24.4062L12.0005 24.4063C12.4448 24.4063 12.8051 24.7661 12.8051 25.21C12.8051 25.6538 12.4448 26.0136 12.0004 26.0136Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  .image-corner-1,
  .image-corner-2,
  .image-corner-3,
  .image-corner-4 {
    width: 6vw;
    height: 6vw;
    position: absolute;
    border-radius: 50%;
    background: #fff;
  }

  .image-corner-1 {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .image-corner-2 {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  .image-corner-3 {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }

  .image-corner-4 {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }
}

.image-thumbnail {
  display: block;
  padding: 0 0.25rem;
  transition: all 0.3s ease-in-out;

  &.current {
    transform: scale(1.25);
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.15));
  }
}

@media (max-width: 991.98px) {
  .image {
    padding: 0;
  }

  .image-thumbnail {
    &.current {
      filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.15));
    }
  }
}

.img-extension {
  position: relative;

  .img-extension-btn {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;

    &::after {
      content: "";
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9996 3.94916L25.2413 3.94938C25.6857 3.9494 26.046 4.30921 26.046 4.75305L26.0457 11.9858C26.0457 12.4297 25.6855 12.7895 25.2411 12.7895C24.7967 12.7894 24.4364 12.4296 24.4365 11.9858L24.4366 6.69317L18.2511 12.8707L17.1132 11.7341L23.2987 5.55661L17.9995 5.55645C17.5552 5.55644 17.1949 5.19662 17.1949 4.75278C17.1949 4.30894 17.5552 3.94915 17.9996 3.94916Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0004 26.0136L4.75866 26.0134C4.31427 26.0134 3.95403 25.6536 3.95404 25.2097L3.95426 17.9769C3.95427 17.5331 4.31453 17.1733 4.75892 17.1733C5.20331 17.1733 5.56355 17.5331 5.56354 17.977L5.56338 23.2696L11.7489 17.0921L12.8868 18.2286L6.70127 24.4062L12.0005 24.4063C12.4448 24.4063 12.8051 24.7661 12.8051 25.21C12.8051 25.6538 12.4448 26.0136 12.0004 26.0136Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  .img-extension-caption {
    position: absolute;
    left: 0;
    bottom: 1rem;
    padding: 0.75rem 5rem 0.75rem 2rem;
    background-color: #fff;
    border-left: 5px solid #9f7a8d;

    .img-extension-caption-title {
      font-weight: bold;
      font-size: 1.25rem;
    }

    p {
      margin: 0;
    }
  }
}

.box-item {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='448' height='118' viewBox='0 0 448 118' fill='none' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M429 0H20C20 11.0457 11.0457 20 0 20V98C11.0457 98 20 106.954 20 118H429C429 107.29 437.419 98.5456 448 98.0246V19.9754C437.419 19.4544 429 10.7104 429 0Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem;
  filter: drop-shadow(0 32px 12px rgba(0, 0, 0, 0.15));
}

.box-item-2 {
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='281' height='510' viewBox='0 0 281 510' fill='none' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1C15 9.50071 8.37073 16.4531 0 16.9693V491.031C8.37073 491.547 15 498.499 15 507C15 508.025 14.9035 509.028 14.7192 510H264.281C264.096 509.028 264 508.025 264 507C264 498.163 271.163 491 280 491C280.336 491 280.669 491.01 281 491.031V16.9693C280.669 16.9897 280.336 17 280 17C271.163 17 264 9.83656 264 1C264 0.664149 264.01 0.330716 264.031 0H14.9693C14.9897 0.330716 15 0.664149 15 1Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='140.5' y1='0' x2='140.5' y2='510' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23013732'/%3E%3Cstop offset='1' stop-color='%23001513'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: 100% 100%;
  color: #fff;
}

@media (max-width: 991.98px) {
  .box-item-2 {
    padding: 1rem;
  }
}

.project-item {
  position: relative;

  .project-item-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px 0px 4px 4px;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(
      180deg,
      rgba(22, 21, 21, 0) 0,
      rgba(34, 47, 76, 0.015625) 0.01%,
      #293246 100%
    );
    background-blend-mode: multiply;
    transition: all 0.3s ease-in-out;

    .project-item-caption-title {
      font-size: 1.75rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .project-item-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    text-align: right;
    background: linear-gradient(
      0deg,
      rgba(22, 21, 21, 0) 0,
      rgba(34, 47, 76, 0.015625) 0.01%,
      #293246 100%
    );
    background-blend-mode: multiply;
  }

  &:hover {
    .project-item-caption {
      background: rgba(242, 242, 242, 0.26);
      backdrop-filter: blur(18px);
    }
  }
}
@media (max-width: 991.98px) {
  .carousel-projects {
    .project-item {
      width: 85vw;
    }
  }

  .project-item {
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;

    .project-item-caption {
      background: rgba(242, 242, 242, 0.26);
      backdrop-filter: blur(18px);
    }

    &.preserve-border {
      border-radius: 30px;
      padding: 2rem;
    }
  }
}

.categories-item {
  a {
    display: inline-block;
    color: #00371a;
    vertical-align: middle;

    &:hover {
      color: #00ae52;
    }

    &.active {
      color: #6cde09;
    }

    & + a {
      margin-left: 0.5rem;

      &::before {
        content: "";
        display: inline-block;
        height: 0.25rem;
        width: 0.25rem;
        vertical-align: middle;
        border-radius: 50%;
        background: #00371a;
        margin-right: 0.5rem;
      }

      &.categories-item-all {
        @extend .btn-linked;
        font-weight: bold;
        margin-left: 1rem;

        &::before {
          content: "";
          display: inline-block;
          height: 2rem;
          width: 1px;
          vertical-align: middle;
          border-radius: 50%;
          background: #a1a1a1;
          margin-right: 1rem;
        }
      }
    }
  }
}

.category-card-item {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 30px;
  color: #fff;
  position: relative;
  overflow: hidden;

  &:hover {
    .category-card-item-bg {
      transform: scale(1.1) translateZ(0);
    }
  }

  .category-card-item-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }

  .category-card-item-img {
    position: relative;
    margin-bottom: 1rem;
  }

  .category-card-item-title {
    position: relative;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .category-card-item-desc {
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .category-card-item-buttons,
  p {
    position: relative;
  }
}

.product-photo-item {
  background-color: #eaeaea;
  text-align: center;

  img {
    margin: auto;
  }
}

@media (max-width: 991.98px) {
  .product-photo-item {
    border-radius: 15px;
  }
}
